
.team-selector{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: justify;
  background-color: black;
  border-radius: 5px;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.0rem;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 90% 50%;
}

.team-option {
  background-color: black;
}

