.bracket-container {
  display: flex;
  flex-direction: row;
}

.round-container {
  padding-right: 30rem;
}

.game-box-outline{
  display:flex;
  flex-direction: row;
}

.game-box{
  display: flex;
  flex-direction: column;
}

.horz-team-line{
  border: 1px solid gray;
  background-color: gray;
  height: 1px;
  width: 50px;
  margin-top: 55px;
}

.team-container{
  display: flex;
  flex-direction: row;
}


.team-selector{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: justify;
  background-color: black;
  border-radius: 5px;
  height: 3.5rem;
  width: 12rem;
  font-size: 1.0rem;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 90% 50%;
}

.team-option {
  background-color: black;
}


.round-container{
  margin-top: 4.5rem;
}

.team-seperator{
  margin: 0px;
  visibility: hidden;
}

.game-seperator{
  margin: 2rem 0rem;
  visibility: hidden;
}

